<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UniCourt">
	   
	<listeners>
		<listener class-name="com.unicourt.ui.utils.Reporting"/>
	</listeners> 
	

	
   	<test name="Unicourt APP test cases">
  		<!-- <parameter name="browser" value="chrome" /> -->
    	<classes>
     		 <class name="com.unicourt.ui.search.CaseSearchTest"/>
     		 <class name="com.unicourt.ui.search.SearchCaseTest"/>
    	</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
